*{
				margin: 0;
				padding:0;
			}
			html{
				width:100%;
				height:100%;
			}
			body{
				width:100%;
				height:100%;
			}
			form{
				width:100%;
				height:100%;
				position: relative;
				background:linear-gradient(to bottom,#cdf6f6,white);
				background: -webkit-linear-gradient(to buttom,#cdf6f6,white);
				background-size: cover;
				overflow: hidden;
			}
			.sec,.thr,.sec2,.sec3,.sec4,.sec5,.sec6,.sec7,.sec8,.thr2,.thr3,.last,.thr4,.thr5,.thr6,.sec41,.sec42{
				display: none;
			}
			.first{
				margin:0 0.5rem;
			}
			.sec,.thr,.sec2,.sec3,.sec4,.sec5,.sec6,.sec7,.sec8,.thr2,.thr3,.thr4,.thr5,.thr6,.sec41,.sec42{
				width:90%;
				height:100%;
				margin:1.5rem 0 0 0.5rem;
			}
			.first,.sec{
				position: absolute;
				left:0;
				top:0;
			}
			li{
				list-style:none;
				font-size: 0.42rem;
			}		
			input[type="radio"], input[type="checkbox"]{display:block;float:left;}
			input[type="radio"]{border:1px solid #999;border-radius:50%;width:0.5rem;height:0.5rem;margin:0.37rem 0.2rem 0 0;}
			input[type="checkbox"]{border:1px solid #999;width:0.5rem;height:0.5rem;margin:0.37rem 0.2rem 0 0;}
			li{width:100%;height:1.2rem;line-height:1.2rem;}
			/*ul{overflow:hidden;}*/
			input[type="radio"]:checked{background:url(../img/teach_black.jpg) no-repeat center top / 1.2rem 1.2rem;}
			span{
				white-space: nowrap;
				text-overflow: ellipsis;
				display: block;
				height: 100%;		
			}
			.btn,.btn2{
				width: 100%;
				text-align: center;
				background: skyblue;
				color: white;
				font-size: 0.42rem;
				height:0.64rem;
				line-height:0.64rem ;
			}
			.text1,.text2{
				width: 100%;
				border: 0 none;
				background: #d6e3e3;
				height:0.64rem;
				line-height:0.64rem ;
			}
			.beizhu{
				font-size: 0.36rem;
				color:#666666;
				margin:0.1rem 0 0.25rem 0;
			}
			h2{
				font-size: 0.6rem;
				text-align: center;
				padding:1rem 0 1rem 0;
				color:blue;
			}
			h3{
				font-size: 0.42rem;
				padding: 0.5rem 0 0.5rem 0;
			}
			.nopa{
				padding: 0.5rem 0 0.2rem 0;
			}
			p{
				font-size: 0.42rem;
				margin-bottom: 0.5rem;
				text-indent:2em
			}
			i{
				width:100%;
				display: block;
				border:1px dashed #999999
			}
			s{	
				text-align: center;
				display: block;
				width:2rem;
				height:1rem;
				position: absolute;
				bottom:1rem;
				left:50%;
				transform: translateX(-50%);
			}
			.last{
				overflow: hidden;
			}
			.dui{
				width:1.5rem;
				height:1.5rem;
				background: url(../img/teach_bg.png) no-repeat 0 0;
				margin:2.2rem auto 1rem;
				background-size: 100%;
			}
			.thank{
				text-align: center;
				font-size: 0.42rem;
			}
			.jiantou,.jiantou2{
				display: inline-block;
			    border-bottom: 0.05rem solid;
			    border-right: 0.05rem solid;
			    width: 0.53rem;
			    height: 0.53rem;
			    border-color: #ccc;
			    position: absolute;
			    bottom: 2.1rem;
				left:4.3rem;
				transform: rotate(-135deg);
			}
			.jiantou2{
				bottom: 1.8rem;
			}
			.alone{
				width:90%;
				height:0.64rem;
				border:0 none;
				outline: none;
				border-bottom: 1px solid #ccc;
				line-height: 0.64rem;
				font-size: 0.42rem;
				color:black;
				padding-left:0.42rem;
				display: none;
			}
			::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color:    black;
			    opacity: 0.7;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    black;
			    opacity: 0.7;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    black;
			    opacity: 0.7;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color:    black;
			    opacity: 0.7;
			}
			.danger{
				color:red;
				font-size: 0.42rem;
				display: none;
			}
			.list1,.list2,.list3,.list4,.list5,.list6,.list7{
				color:red;
				font-size: 0.42rem;
				display: none;
			}