			*{
				margin:0;
				padding:0;
			}
			ul,ol,li{
				list-style: none;
			}
			.content{
				width:100%;
				display: flex;
				position:relative;
				display: none;
			}
			.three,.four,.five,.six,.seven,.eight,.nine,.ten{
				position:absolute;
				left:90px;
				display: none;
			}
			.three{top:1360px;}.four{top:2100px;}.five{top:2810px;}.six{top:3520px;}.seven{top:4230px;}.eight{top:4930px;}.nine{top:5660px;}.ten{top:6370px;}
			.earth{
				position: absolute;
				left:44px;
				top:112px;
				animation:zhuan 3s infinite linear;
				-moz-animation:zhuan 3s infinite linear;
				-webkit-animation:zhuan 3s infinite linear;
			}		
			.ele{
				position: absolute;
				left:210px;
				top:6600px;
			}
			.people{
				position:absolute;
				transform: scale(0.5);
				left:500px;
				top:500px;
			}
			.font{
				position: absolute;
				left:100px;
				top:575px;
				animation: fadeIn 1s linear;
			}
			.ying{
				position: absolute;
				left:21px;
				top:5146px;
				z-index: 10;
			}
			.manwei{
				position: absolute;
				left:53px;
				top:5861px;
				z-index: 10;
			}
			.biaoti{
				position:absolute;
				left:95px;
				top:208px;
				animation:big 4s infinite;
				-moz-animation:big 4s infinite;
				-webkit-animation:big 4s infinite;
			}
			.star,.star1,.star2,.star3,.star4,.star5,.star6{
				position:absolute;
				top:495px;
				left:80px;
				animation:buling 2s  infinite linear;
				-moz-animation:buling 2s  infinite linear;
				-webkit-animation:buling 2s  infinite linear;
			}
			.star1,.star2,.star5,.star6{
				left:650px;
				top:1564px;
				animation:buling2 2s  infinite linear;
				-moz-animation:buling2 2s  infinite linear;
				-webkit-animation:buling2 2s  infinite linear;
			}
			.star2{
				left:447px;
				top:3058px;
			}
			.star3{
				left:510px;
				top:4605px;
			}
			.star4{
				left:57px;
				top:5360px;
			}
			.star5{
				left:620px;
				top:5845px;
			}
			.star6{
				left:647px;
				top:6606px;
			}
			
			@keyframes fadeIn{
				0%{opacity: 0;}
				50%{opacity: 0.5;}
				100%{opacity: 1;}
			}
			@-moz-keyframes fadeIn{
				0%{opacity: 0;}
				50%{opacity: 0.5;}
				100%{opacity: 1;}
			}
			@-webkit-keyframes fadeIn{
				0%{opacity: 0;}
				50%{opacity: 0.5;}
				100%{opacity: 1;}
			}
			@keyframes	big{
				0% {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
				
				50% {
					-webkit-transform: scale3d(1.05,1.05,1.05);
					transform: scale3d(1.2,1.2,1.2);
				}
				100% {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
			}
			@-moz-keyframes	big{
				0% {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
				
				50% {
					-webkit-transform: scale3d(1.05,1.05,1.05);
					transform: scale3d(1.2,1.2,1.2);
				}
				100% {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
			}
			@-webkit-keyframes	big{
				0% {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
				
				50% {
					-webkit-transform: scale3d(1.05,1.05,1.05);
					transform: scale3d(1.2,1.2,1.2);
				}
				100% {
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
			}

			@keyframes buling{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(2.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			@-moz-keyframes buling{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(2.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			@-webkit-keyframes buling{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(2.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			
			
			@keyframes buling2{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(1.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			@-moz-keyframes buling2{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(1.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			@-webkit-keyframes buling2{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(1.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
		
			
			@keyframes show{
				0%{
					transform: scale(0.5);
					opacity: 0.3;
				}
				100%{
					transform: scale(1);
					opacity: 1;
					}
			}
			@-moz-keyframes	show{
				0%{
					transform: scale(0.5);
					opacity: 0.3;
				}
				100%{
					transform: scale(1);
					opacity: 1;
					}
			}
			@-webkit-keyframes	show{
				0%{
					transform: scale(0.5);
					opacity: 0.3;
				}
				100%{
					transform: scale(1);
					opacity: 1;
					}
			}

			@keyframes zhuan{
				0%{transform: rotateZ(0)}
				100%{transform: rotate(360deg)}
			}
			@-moz-keyframes zhuan{
				0%{transform: rotateZ(0)}
				100%{transform: rotate(360deg)}
			}
			@-webkit-keyframes zhuan{
				0%{transform: rotateZ(0)}
				100%{transform: rotate(360deg)}
			}
		
			
			@keyframes move{
				0%{}
				30%{transform: translateX(100px);}
				75%{transform: translateX(-50px);}
				100%{}
			}
			@-moz-keyframes move{
				0%{}
				30%{transform: translateX(100px);}
				75%{transform: translateX(-50px);}
				100%{}
			}
			@-webkit-keyframes move{
				0%{}
				30%{transform: translateX(100px);}
				75%{transform: translateX(-50px);}
				100%{}
			}
		
			@keyframes move2{
				0%{}
				50%{transform: translateX(-100px);}
				100%{}
			}
			@-moz-keyframes move2{
				0%{}
				50%{transform: translateX(-100px);}
				100%{}
			}
			@-webkit-keyframes move2{
				0%{}
				50%{transform: translateX(-100px);}
				100%{}
			}
			
			@keyframes shine{
				0%{transform: skew(0deg);}
				50%{transform: skew(80deg,0deg);}
				100%{transform: skew(0deg)}
			}
			@-moz-keyframes	shine{
				0%{transform: skew(0deg);}
				50%{transform: skew(80deg,0deg);}
				100%{transform: skew(0deg)}
			}
			@-webkit-keyframes	shine{
				0%{transform: skew(0deg);}
				50%{transform: skew(80deg,0deg);}
				100%{transform: skew(0deg)}
			}
			.fach1{
				position: absolute;
				left:150px;
				top:2415px;
				animation: tada 5s infinite linear;
				-moz-animation:tada 5s infinite linear;
				-webkit-animation:tada 5s infinite linear;
			}
			.fach2{
				position: absolute;
				left:510px;
				top:2545px;
				animation: tada 5s infinite linear;
				-moz-animation:tada 5s infinite linear;
				-webkit-animation:tada 5s infinite linear;
			}
			.car{
				position: absolute;
				left:120px;
				top:3989px;
				animation: shine 5s infinite linear;
				-moz-animation:shine 5s infinite linear;
				-webkit-animation:shine 5s infinite linear;
			}
			.cloud1{
				position: absolute;
				left:283px;
				top:1669px;
				animation: move 10s infinite;
				-moz-animation:move 10s infinite;
				-webkit-animation:move 10s infinite;
			}
			.cloud2{
				position: absolute;
				left:600px;
				top:1793px;
				animation: move2 10s infinite;
				-moz-animation:move2 10s infinite;
				-webkit-animation:move2 10s infinite;
			}
			.huigu,.zhanwang{
				width:265px;
				height:67px;
				cursor: pointer;
				position: absolute;
				left:73px;
				top:6771px;
				border-radius: 30px;
			}
			.zhanwang{
				left:410px
			}
			
			.zhezhao{
				width:750px;
				height:100%;
				background: rgba(0,0,0,0.7);
				position: absolute;
				left:0;
				top:0;
				display: none;
			}
			.share{
				position: fixed;
				left:30%;
				top:2%;
				display: none;
				z-index: 30;
			}
			