			*{
				margin:0;
				padding:0;
			}
			.content{
				width:100%;
				display: flex;
				position:relative;
				display: none;
			}
			.three,.four,.five,.six,.seven,.eight,.nine,.ten{
				position:absolute;
				left:90px;
				display: none;
			}
			.three{top:1360px;}.four{top:2100px;}.five{top:2810px;}.six{top:3520px;}.seven{top:4230px;}.eight{top:4930px;}.nine{top:5660px;}.ten{top:6370px;}
			.earth{
				position: absolute;
				left:44px;
				top:112px;
				animation:zhuan 3s infinite linear;
				-moz-animation:zhuan 3s infinite linear;
				-webkit-animation:zhuan 3s infinite linear;
			}		
			.people{
				position:absolute;
				transform: scale(0.5);
				display: none;
			}
			.biaoti{
				position:absolute;
				left:95px;
				top:208px;
				animation:show 0.5s 0.5s ease-in;
				-moz-animation:show 0.5s 0.5s ease-in;
				-webkit-animation:show 0.5s 0.5s ease-in;
			}
			.star{
				position:absolute;
				top:495px;
				left:80px;
				animation:buling 2s  infinite linear;
				-moz-animation:buling 2s  infinite linear;
				-webkit-animation:buling 2s  infinite linear;
			}
			
			@keyframes buling{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(2.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			@-moz-keyframes buling{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(2.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			@-webkit-keyframes buling{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(2.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			@-o-keyframes buling{
				0%{opacity: 0.2;transform: scale(1);}
				50%{opacity: 2;transform: scale(2.5);}
				100%{opacity: 0.2;transform: scale(1);}
			}
			
			@keyframes show{
				0%{
					transform: scale(0.5);
					opacity: 0.3;
				}
				100%{
					transform: scale(1);
					opacity: 1;
					}
			}
			
			@-moz-keyframes show{
				0%{
					transform: scale(0.5);
					opacity: 0.3;
				}
				100%{
					transform: scale(1);
					opacity: 1;
					}
			}
			@-webkit-keyframes show{
				0%{
					transform: scale(0.5);
					opacity: 0.3;
				}
				100%{
					transform: scale(1);
					opacity: 1;
					}
			}
			@-o-keyframes show{
				0%{
					transform: scale(0.5);
					opacity: 0.3;
				}
				100%{
					transform: scale(1);
					opacity: 1;
					}
			}
			
			@keyframes zhuan{
				0%{transform: rotateZ(0)}
				100%{transform: rotate(360deg)}
			}
			@-moz-keyframes zhuan{
				0%{transform: rotateZ(0)}
				100%{transform: rotate(360deg)}
			}
			@-webkit-keyframes zhuan{
				0%{transform: rotateZ(0)}
				100%{transform: rotate(360deg)}
			}
			@-o-keyframes zhuan{
				0%{transform: rotateZ(0)}
				100%{transform: rotate(360deg)}
			}
			
			@keyframes move{
				0%{}
				30%{transform: translateX(100px);}
				75%{transform: translateX(-50px);}
				100%{}
			}
			@-moz-keyframes move{
				0%{}
				30%{transform: translateX(100px);}
				75%{transform: translateX(-50px);}
				100%{}
			}
			@-webkit-keyframes move{
				0%{}
				30%{transform: translateX(100px);}
				75%{transform: translateX(-50px);}
				100%{}
			}
			@-o-keyframes move{
				0%{}
				30%{transform: translateX(100px);}
				75%{transform: translateX(-50px);}
				100%{}
			}
			@keyframes move2{
				0%{}
				50%{transform: translateX(-100px);}
				100%{}
			}
			@-moz-keyframes move2{
				0%{}
				50%{transform: translateX(-100px);}
				100%{}
			}
			@-webkit-keyframes move2{
				0%{}
				50%{transform: translateX(-100px);}
				100%{}
			}
			@-o-keyframes move2{
				0%{}
				50%{transform: translateX(-100px);}
				100%{}
			}
				
			
			@keyframes shine{
				0%{transform: skew(0deg);}
				50%{transform: skew(80deg,0deg);}
				100%{transform: skew(0deg)}
			}
			.fach1{
				position: absolute;
				left:150px;
				top:2415px;
				animation: tada 5s infinite linear;
				-moz-animation:tada 5s infinite linear;
				-webkit-animation:tada 5s infinite linear;
			}
			.fach2{
				position: absolute;
				left:510px;
				top:2545px;
				animation: tada 5s infinite linear;
				-moz-animation:tada 5s infinite linear;
				-webkit-animation:tada 5s infinite linear;
			}
			.car{
				position: absolute;
				left:120px;
				top:3989px;
				animation: shine 5s infinite linear;
				-moz-animation:shine 5s infinite linear;
				-webkit-animation:shine 5s infinite linear;
			}
			.cloud1{
				position: absolute;
				left:283px;
				top:1669px;
				animation: move 10s infinite;
				-moz-animation:move 10s infinite;
				-webkit-animation:move 10s infinite;
			}
			.cloud2{
				position: absolute;
				left:600px;
				top:1793px;
				animation: move2 10s infinite;
				-moz-animation:move2 10s infinite;
				-webkit-animation:move2 10s infinite;
			}
			.huigu{
				width:265px;
				height:67px;
				cursor: pointer;
				position: absolute;
				left:73px;
				top:6771px;
				border-radius: 30px;
			}
			
			
